<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="container">
  <div class="conatiner-resizable" #resizable>
    <div class="container-header">
      <h3>Widget</h3>
      <div class="header-btn">
        <i class="material-icons icon">
          edit
        </i>
        <i class="material-icons icon">
          delete
        </i>
      </div>
    </div>
    <div (mousedown)="startResizing($event)" class="resize top" id="top-n"></div>
    <div (mousedown)="startResizing($event)" class="resize bottom" id="bottom-s"></div>
    <div (mousedown)="startResizing($event)" class="resize right" id="right-e"></div>
    <div (mousedown)="startResizing($event)" class="resize left" id="left-w"></div>
    <div (mousedown)="startResizing($event)" class="resize-corner top-right" id="corner-ne"></div>
    <div (mousedown)="startResizing($event)" class="resize-corner top-left" id="corner-nw"></div>
    <div (mousedown)="startResizing($event)" class="resize-corner bottom-right" id="corner-se"></div>
    <div (mousedown)="startResizing($event)" class="resize-corner bottom-left" id="corner-sw"></div>
  </div>
</div>
